# Preprocessing EZB Lending Data

In [1]:
import os

In [2]:
import pandas as pd
import numpy as np

## Import Data

In [3]:
def manual_separation(bad_line):
    right_split = bad_line[:-2] + [",".join(bad_line[-2:])] # All the "bad lines" where all coming from the same last column that was containing ","
    return right_split

filename = "supplying_turnaround.csv"
ez_supp = pd.read_csv(
        filename, 
        encoding="ISO-8859-1",
        on_bad_lines=manual_separation,
        engine="python",
    )

In [4]:
ez_supp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228545 entries, 0 to 228544
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   supplier         228545 non-null  object
 1   request_id       228545 non-null  object
 2   request_url      228545 non-null  object
 3   requester        228545 non-null  object
 4   title            228545 non-null  object
 5   call_number      228544 non-null  object
 6   barcode          228545 non-null  object
 7   assigned         228545 non-null  object
 8   filled           228545 non-null  object
 9   shipped          228545 non-null  object
 10  received         228545 non-null  object
 11  time_to_fill     228544 non-null  object
 12  time_to_ship     228544 non-null  object
 13  time_to_receipt  228544 non-null  object
 14  total_time       228544 non-null  object
dtypes: object(15)
memory usage: 26.2+ MB

In [5]:
date_columns = ['assigned', 'filled', 'shipped', 'received']
for col in date_columns:
    ez_supp[col] = pd.to_datetime(ez_supp[col], errors='coerce')

In [6]:
ez_supp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228545 entries, 0 to 228544
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   supplier         228545 non-null  object
 1   request_id       228545 non-null  object
 2   request_url      228545 non-null  object
 3   requester        228545 non-null  object
 4   title            228545 non-null  object
 5   call_number      228544 non-null  object
 6   barcode          228545 non-null  object
 7   assigned         228544 non-null  datetime64[ns]
 8   filled           228544 non-null  datetime64[ns]
 9   shipped          228544 non-null  datetime64[ns]
 10  received         228544 non-null  datetime64[ns]
 11  time_to_fill     228544 non-null  object
 12  time_to_ship     228544 non-null  object
 13  time_to_receipt  228544 non-null  object
 14  total_time       228544 non-null  object
dtypes: datetime64[ns](4), object(11)
memory usage: 26.2+ MB

In [61]:
ez_laf = ez_supp.loc[ez_supp['requester'] == 'Lafayette College'].copy()

In [62]:
ez_laf.loc[ez_laf['supplier'] == 'Villanova University']

,data_index,supplier,request_id,request_url,requester,title,call_number,barcode,assigned,filled,shipped,received,time_to_fill,time_to_ship,time_to_receipt,total_time
74506,215259,Villanova University,PEL-12,[RESHARE URL]/request/requests/view/881e33d2-7...,Lafayette College,Vested angels: eucharistic allusions in early ...,N8090 .M36 1998,39346007708607,2023-11-29 15:47:18.987999,2023-11-30 17:07:38.177999,2023-11-30 17:07:50.055999,2023-12-05 18:53:22.140000,"1 day, 1:20:19.190000","1 day, 1:20:31.068000","6 days, 3:06:03.152001","6 days, 3:06:03.152001"
74531,215626,Villanova University,PEL-146,[RESHARE URL]/request/requests/view/489e4cf9-7...,Lafayette College,Parliamentary Committees in the Policy Process,JF533 .P377 2022,39346011035336,2024-02-07 21:16:47.101000,2024-02-09 19:42:47.976999,2024-02-10 14:31:30.270999,2024-02-19 18:24:42.992000,"1 day, 22:26:00.875999","2 days, 17:14:43.169999","11 days, 21:07:55.891000","11 days, 21:07:55.891000"
74555,215657,Villanova University,PEL-173,[RESHARE URL]/request/requests/view/f0f35854-7...,Lafayette College,Building the Bloc: Intraparty Organization in ...,JK1029 .B56 2017,39346010415786,2024-02-16 18:13:48.599999,2024-02-17 16:12:07.269999,2024-02-17 16:12:45.302000,2024-02-20 15:57:06.201999,21:58:18.670000,21:58:56.702001,"3 days, 21:43:17.602000","3 days, 21:43:17.602000"
74573,215714,Villanova University,PEL-194,[RESHARE URL]/request/requests/view/da7c2f68-c...,Lafayette College,The writings of Teresa de Cartagena,BX2186 .T47213 1998,39346007824669,2024-02-22 15:59:21.594000,2024-02-27 21:31:09.437999,2024-02-27 21:31:33.979000,2024-02-29 12:47:52.137000,"5 days, 5:31:47.843999","5 days, 5:32:12.385000","6 days, 20:48:30.543000","6 days, 20:48:30.543000"
74589,215723,Villanova University,PEL-212,[RESHARE URL]/request/requests/view/eeec4d68-4...,Lafayette College,"Disturbing Attachments: Genet, Modern Pederast...",PQ2613.E53 Z539 2017,39346010411983,2024-02-28 17:05:24.663000,2024-02-29 14:18:03.561000,2024-02-29 14:18:26.760999,2024-03-21 18:13:13.882999,21:12:38.898000,21:13:02.097999,"22 days, 1:07:49.219999","22 days, 1:07:49.219999"
74652,215824,Villanova University,PEL-280,[RESHARE URL]/request/requests/view/51040904-a...,Lafayette College,Geocriticism: Real and Fictional Spaces,PN56.S667 W4713 2011,39346009885593,2024-03-20 14:21:21.112999,2024-03-21 14:46:02.848000,2024-03-21 14:46:08.223999,2024-03-26 14:13:35.266999,"1 day, 0:24:41.735001","1 day, 0:24:47.111000","5 days, 23:52:14.154000","5 days, 23:52:14.154000"
74693,215870,Villanova University,PEL-335,[RESHARE URL]/request/requests/view/8b2a0f67-6...,Lafayette College,"The language of Kilkenny : lexicon, semantics,...",PB1298.K55 M69 1996,39346006949798,2024-04-04 02:04:38.496000,2024-04-05 13:11:07.734999,2024-04-05 13:11:24.878999,2024-04-11 15:37:28.661000,"1 day, 11:06:29.238999","1 day, 11:06:46.382999","7 days, 13:32:50.165000","7 days, 13:32:50.165000"
74696,215894,Villanova University,PEL-338,[RESHARE URL]/request/requests/view/ebace7d4-8...,Lafayette College,Trust and Democratic Transition in Post-Commun...,HX240.7 .T78 2004,39346008962401,2024-04-04 16:09:49.915999,2024-04-06 15:22:39.059999,2024-04-06 15:24:54.059000,2024-04-11 15:37:04.790999,"1 day, 23:12:49.144000","1 day, 23:15:04.143001","6 days, 23:27:14.875000","6 days, 23:27:14.875000"
74717,215966,Villanova University,PEL-361,[RESHARE URL]/request/requests/view/db2766b8-1...,Lafayette College,The Millennium of Hieronymus Bosch : outlines ...,ND653.B65F713 1976,39346004235976,2024-04-15 17:57:00.950000,2024-04-16 15:30:16.737999,2024-04-16 15:30:58.709000,2024-04-30 15:12:52.188999,21:33:15.787999,21:33:57.759000,"14 days, 21:15:51.238999","14 days, 21:15:51.238999"
74775,216131,Villanova University,PEL-427,[RESHARE URL]/request/requests/view/255f2371-d...,Lafayette College,Proclus of Constantinople and the cult of the ...,BR65.P6423 H663 2003,39346008585533,2024-05-15 02:13:56.460000,2024-05-15 17:01:16.536999,2024-05-15 17:06:48.273999,2024-05-28 14:55:57.757999,14:47:20.076999,14:52:51.813999,"13 days, 12:42:01.297999","13 days, 12:42:01.297999"
74823,216188,Villanova University,PEL-486,[RESHARE URL]/request/requests/view/c710658a-4...,Lafayette College,Die Pseudoklementinen [PLEASE SEE COMMENT BOX ...,BR45 .G7 Bd. 42,39346009174022,2024-06-22 16:40:09.160000,2024-06-24 21:27:32.071000,2024-06-24 21:28:11.938999,2024-06-27 17:03:13.039999,"2 days, 4:47:22.911000","2 days, 4:48:02.778999","5 days, 0:23:03.879999","5 days, 0:23:03.879999"
74845,215455,Villanova University,PEL-60,[RESHARE URL]/request/requests/view/87f6b26d-4...,Lafayette College,Charlotte Perkins Gilman's The Yellow Wall-Paper,PS1744.G57 Y45 2004,39346009075427,2024-01-14 20:10:22.740000,2024-01-16 20:50:37.036000,2024-01-16 20:54:23.927000,2024-01-30 20:10:28.336999,"2 days, 0:40:14.296000","2 days, 0:44:01.187000","16 days, 0:00:05.596999","16 days, 0:00:05.596999"

In [34]:
# Sort by 'request_id' and 'received' to ensure the earliest 'received' date comes first
ez_supp = ez_supp.sort_values(by=['request_id', 'received'])

# Drop duplicates, keeping the first occurrence (earliest 'received' date)
ez_supp = ez_supp.drop_duplicates(subset='request_id', keep='first')

# Reset the index but keep as a column
ez_supp.reset_index(inplace = True, names = 'data_index')

In [35]:
ez_supp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164542 entries, 0 to 164541
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   data_index       164542 non-null  int64
 1   supplier         164542 non-null  object
 2   request_id       164542 non-null  object
 3   request_url      164542 non-null  object
 4   requester        164542 non-null  object
 5   title            164542 non-null  object
 6   call_number      164541 non-null  object
 7   barcode          164542 non-null  object
 8   assigned         164541 non-null  datetime64[ns]
 9   filled           164541 non-null  datetime64[ns]
 10  shipped          164541 non-null  datetime64[ns]
 11  received         164541 non-null  datetime64[ns]
 12  time_to_fill     164541 non-null  object
 13  time_to_ship     164541 non-null  object
 14  time_to_receipt  164541 non-null  object
 15  total_time       164541 non-null  object
dtypes: datetime64[ns](4), int64(1), object(11)
memory usage: 20.1+ MB

In [36]:
ez_supp.isna().sum()

data_index         0
supplier           0
request_id         0
request_url        0
requester          0
title              0
call_number        1
barcode            0
assigned           1
filled             1
shipped            1
received           1
time_to_fill       1
time_to_ship       1
time_to_receipt    1
total_time         1
dtype: int64

In [37]:
ez_null = ez_supp.loc[ez_supp['assigned'].isnull() == True].copy()

In [38]:
ez_null

,data_index,supplier,request_id,request_url,requester,title,call_number,barcode,assigned,filled,shipped,received,time_to_fill,time_to_ship,time_to_receipt,total_time
125262,215637,"Book""""",PQ9697.A647 M613 2012,39346010074567,2024-02-12 15:45:37.987999,2024-02-14 14:25:33.438999,2024-02-14 14:28:51.660000,2024-02-19 18:24:28.177000,NaT,NaT,NaT,NaT,None,None,None,None

In [13]:
#create a filter for pitt requests

pitt_data = ez_supp.loc[ez_supp['supplier'] == 'University of Pittsburgh'].copy()

In [14]:
pitt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8787 entries, 155324 to 153549
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   supplier         8787 non-null   object
 1   request_id       8787 non-null   object
 2   request_url      8787 non-null   object
 3   requester        8787 non-null   object
 4   title            8787 non-null   object
 5   call_number      8787 non-null   object
 6   barcode          8787 non-null   object
 7   assigned         8787 non-null   datetime64[ns]
 8   filled           8787 non-null   datetime64[ns]
 9   shipped          8787 non-null   datetime64[ns]
 10  received         8787 non-null   datetime64[ns]
 11  time_to_fill     8787 non-null   object
 12  time_to_ship     8787 non-null   object
 13  time_to_receipt  8787 non-null   object
 14  total_time       8787 non-null   object
dtypes: datetime64[ns](4), object(11)
memory usage: 1.1+ MB

In [15]:
ez_supp.supplier.value_counts()

Pennsylvania State University    13438
University of Pennsylvania       10992
New York University              10273
Rutgers University                9243
University of Pittsburgh          8787
                                 ...
Elizabethtown College                2
Goldey-Beacom College                2
Book""                               1
Holy Family University               1
Drew University                      1
Name: supplier, Length: 77, dtype: int64

In [16]:
ez_supp.received.describe()

C:\Users\rnn13\AppData\Local\Temp\ipykernel_53560\4248839908.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  ez_supp.received.describe()

count                         164541
unique                        164511
top       2023-07-31 14:18:00.460000
freq                               4
first     2021-08-09 18:15:45.990000
last      2024-07-15 19:38:12.957999
Name: received, dtype: object

In [17]:
ez_supp.requester.value_counts()

New York University              25359
The New School                   14823
Pennsylvania State University    14306
Rutgers University               13122
Temple University                 7390
                                 ...
Holy Family University               3
Circulation Desk (INACTIVE)          3
Lebanon Valley College               2
2024-02-12 15:45:37.987999           1
Muhlenberg College                   1
Name: requester, Length: 79, dtype: int64

In [18]:
ez_supp.to_csv("rn_clean_supplying_turnaround.csv")

In [19]:
df=ez_supp.copy()

In [20]:
df['filled_time'] = df['filled'] - df['assigned']

In [21]:
#create a filter for pitt requests

pitt_fills = df.loc[df['supplier'] == 'University of Pittsburgh'].copy()

In [22]:
pitt_fills.head()

,supplier,request_id,request_url,requester,title,call_number,barcode,assigned,filled,shipped,received,time_to_fill,time_to_ship,time_to_receipt,total_time,filled_time
155324,University of Pittsburgh,DEWGBC-7,[RESHARE URL]/request/requests/view/2c059c1e-6...,Goldey-Beacom College,Out of many faiths : religious diversity and t...,BL2525 .P368 2019,31735070528686,2024-04-10 16:18:06.045000,2024-04-10 19:24:48.421000,2024-04-10 19:24:48.421000,2024-04-16 17:22:47.644999,3:06:42.376000,3:06:42.376000,"6 days, 1:04:41.599999","6 days, 1:04:41.599999",0 days 03:06:42.376000
140431,University of Pittsburgh,NJGBS-1038,[RESHARE URL]/request/requests/view/63f6fe40-7...,Rowan University,Carlo Zucchi y el neoclasicismo en el Rio de l...,NA1123.Z795 C37 1998,31735041532205,2021-11-18 10:43:38.701999,2021-11-18 16:12:14.838999,2021-11-18 16:12:20.532000,2021-11-22 18:59:18.979000,5:28:36.137000,5:28:41.830001,"4 days, 8:15:40.277001","4 days, 8:15:40.277001",0 days 05:28:36.137000
140448,University of Pittsburgh,NJGBS-1042,[RESHARE URL]/request/requests/view/4e194cf7-4...,Rowan University,La invencioÌn de AmeÌrica; el universalismo ...,E110 .O35 1958,31735003061938,2021-11-18 10:56:02.201999,2021-11-20 21:15:18.420000,2021-11-20 21:15:58.229000,2021-11-30 17:51:46.361000,"2 days, 10:19:16.218001","2 days, 10:19:56.027001","12 days, 6:55:44.159001","12 days, 6:55:44.159001",2 days 10:19:16.218001
140464,University of Pittsburgh,NJGBS-1054,[RESHARE URL]/request/requests/view/70102a5f-f...,Rowan University,War of the rats : a novel /,PS3568.O22289 W37 2000,31735044618613,2021-11-23 22:55:34.878999,2021-11-24 16:44:54.880000,2021-11-24 16:44:56.809999,2021-11-30 17:51:55.871999,17:49:20.001001,17:49:21.931000,"6 days, 18:56:20.993000","6 days, 18:56:20.993000",0 days 17:49:20.001001
140475,University of Pittsburgh,NJGBS-1057,[RESHARE URL]/request/requests/view/ed0e03f4-9...,Rowan University,Historia del teatro argentino : desde los ritu...,PN2451 .S45 2002,31735046488361,2021-11-28 20:36:52.608999,2021-11-30 15:31:08.250999,2021-11-30 15:33:27.704999,2021-12-02 17:37:02.931999,"1 day, 18:54:15.642000","1 day, 18:56:35.096000","3 days, 21:00:10.323000","3 days, 21:00:10.323000",1 days 18:54:15.642000